/* Colors */

/* Font Families */

/* Responsive Variables */
@max-width-mobile: 800px;
@max-width-tablet: 1200px;

/* Some type size defaults */
@header-text-size: 36px;
@body-text-size: 24px;
@caption-text-size: 12px;

/* Overall padding */
@padding: 40px;
@mobile-padding: 20px;
@max-width: 1200px;